.content{
    display: grid;
    place-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    width: 450px;
    
}

.image-content img{
    width: 100%;
    max-height: 150px;
    object-fit: contain;
}

.info-content{
    padding: 20px;
}

.info-content span{
    color: blueviolet;
    font-size: 12px;
}

.info-content h1{
    font-size: 20px;
    font-weight: bold;
}

.info-content p{
    font-size: 15px;
    color: gray;
}

.info-content .autor{
    color: black;
    margin-top: 40px;
}
